body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

header nav {
    top: 0;
    left: 0;
    min-height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    transition: .5s;
    margin-right: 12.5%;
    margin-left: 12.5%;
    border-bottom: 1px solid #8cc63f;
}

    header nav .logo {
        float: left;
    }

        header nav .logo:hover {
            cursor: pointer;
        }

        header nav .logo img {
            height: 100px;
            transition: .5s;
        }

    header nav ul {
        float: right;
        margin: 0;
        padding: 0;
    }

header .action {
    height: 50px;
}

    header .action span {
        line-height: 10px;
    }

    header .action a {
        line-height: 40px;
        color: black;
        text-decoration: none;
        margin-right: 15px !important;
    }

        header .action a:hover {
            color: #8cc63f;
        }

header .cart {
    height: 50px;
    line-height: 40px;
    color: black;
    text-align: left;
    padding-top: 10px;
}

    header .cart :hover {
        color: #8cc63f;
        cursor: pointer;
    }

    header .cart a {
        color: black;
        height: 40px;
        line-height: 40px;
    }

header .search {
    background-color: #8cc63f;
    /*height: 50px;*/
    border: solid 2px #8cc63f;
    border-radius: 999px;
    padding: 1px 1px 1px 1px;
}

header .hotline {
    /*width:25%;*/
    height: inherit;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    text-align: center;
}

header .search_bar {
    /*width: 75%;*/
    border-radius: inherit;
    background-color: white;
    border: solid 5px white;
}

header .search_btn {
    width: 10%;
    height: 100%;
    border-radius: inherit;
    border: none;
    float: right;
    background-color: #f1c249;
}

    header .search_btn .fa-search {
        color: white;
    }

header .search_value {
    height: 100%;
    width: 90%;
    border-radius: inherit;
    border: none;
    background-color: white;
}

    header .search_value:focus {
        outline: none;
    }

header .branch {
    height: 50px;
    padding-top: 10px;
    line-height: 40px;
}

    header .branch div {
        border-radius: 25px;
        text-align: center;
        background-color: #491e12;
        color: white;
    }

        header .branch div:hover {
            cursor: pointer;
            background-color: #8cc63f;
        }

footer {
    background-color: #491e12;
    color: white;
    padding-top: 10px;
    margin: 0;
}
